// Body
$body-bg: #fff;
// colors
$primary: #092C4C;
$secondary: #E2B93B;
$success:#27AE60;
$info:#2F80ED;
$warning:#E2B93B;
$danger:#EB5757;


$display-font-sizes: (
  1: 0.625rem,
  2: 0.75rem,
  3: 0.875rem,
  4: 1.25rem,
  5: 3.5rem,
  6: 3rem,
  7: 2.5rem,
  8: 4.5rem

);


$font-weight-lighter:         300;
$font-weight-light:           400;
$font-weight-normal:          500;
$font-weight-bold:            700;
$font-weight-bolder:          900;

// Typography
$font-family-sans-serif: 'Inter', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
