

/*---------------CART PAGE CSS---------------------------*/
.cart-logo{
    height: 31px;
    width: 50px;
       border: none; 
    outline: none;
}
.cart-logo:focus {
    outline: none; 
}


.img-items{
    width: 130px;
     height:85px;
}

.checkboxs{
    width: 17px; height: 16px; margin-left:-17px;
    
}
.checkbox-all{
    width: 17px;  height: 16px; 
   border-radius: 0.25em;
   margin-left: 18px;
}
.size-input{
    height:35px; width:104px;
    text-align: left;
}
.no-hover{ 
    border: none;
}
.no-hover:hover{
    border: none;
}

.fixed-width {
    width: 175px; 
    height: 65px;
    white-space:initial; 
  }

  .hr-fixed{
    height:2px; 
    margin-bottom:15px; 
    margin-left:7px;
    margin-top: 14px;
    width:auto; 
    border:none;
    background-color:#adb5bd;
  }



/*---------------- Mobile Responsive Styles for cart page--------------*/
@media (max-width: 376px){
    .img-items{
        display: none;
    }
}
@media (max-width: 1024px) {
  
    #main-card {
        display: flex !important;
        flex-direction: row !important;   
        justify-content:space-between !important;
        gap: 2 !important;
        padding: 0px !important;
        height: 10% !important;
    }
  
    #ProductName{
        display: flex !important;
        flex-direction: column !important;
        justify-content:end !important;
        gap: 0px !important;
        padding: 0px !important;
    }

    #Price-Variant {
        display: flex !important;
        flex-direction: column-reverse !important;
        justify-content:start !important;
        gap: 0px !important;
        padding: 0px !important;
    }
    #trashbin{
        padding: 0px !important;
    }
    #Quantity-input{
        margin-bottom: 8px !important;
        width: 83px !important;
        height: 26px !important;
    }
    #buttons{
        width: 10px !important;
        font-size: 10px !important;
    }
    #quantity_item1, #quantity_item2{
        width: 5px !important;
        font-size: 10px !important;
        height: 29px !important;
    }
   
    #amount{
        padding: 0px !important;
        display: flex !important;
        margin-left: 12px !important;
        margin-bottom: 15px !important;
        font-size: 13px !important;
        font-weight: 500 !important;
    }
    #prod-name{
    margin-bottom: 20px;
    margin-top: 0px;
    }
    #name{
        position: absolute;
        padding-right: 50px;
        margin-top: 3px;
        font-size: 14px !important;
        font-weight: 400 !important;
    }
    .fixed-width {
        width: 15px; 
        height: 15px;
        white-space:initial; 
      }
      .hr-fixed{
        height:2px; 
        margin-bottom:15px; 
        margin-left:7px;
        margin-top: 14px;
        width:auto; 
        border:none;
       
      }
    .img-items{
        width: 180px;
        height:90px;
    }

    .checkboxs{
        width: 15px; 
        height: 13px;
        margin-left:5px;
        padding: 2px !important;
    
    }
    #form-check{
        margin-right: 10px !important;
        padding: 0px !important;
    }
    .size-input{
        height:27px !important; 
        width:82px !important;
        font-size: 9.4px !important;
    }
    #input-quantity{
        display: flex !important;
        flex-direction: column-reverse !important;
        justify-content:end !important;
        gap: 0px !important;
        padding: 4px !important;
    }
    
    #font-size{
        font-size: 1px !important;
        font-weight: 200;
    }
    #remove{
        display: none !important;
    }

    .checkbox-all{
        width: 17px;  height: 16px; 
        border-radius: 0.25em;
        margin-left: 2px;
    }
  
    #fixed-bottom-div4 > input {
        font-size: 12px !important;
    }
    #fixed-bottom-div4  > label {
        font-size: 12px !important;
    } 
    #fixed-bottom-div1, #fixed-bottom-div2{
        padding: 10px !important;
        font-size: 12px !important;
    }
    #selectAll {
        font-size: 12px !important;
    }
    #total-info, #total-amount, #items-display, #item-count{
        font-size: 12px !important;
        margin: 0px !important;
    }
    #button-size{
        font-size: 10px !important;
    }
 
}
/* ------------------------------------end-------------------------------------*/






/*--------------CHECKOUT PAGE CSS-----------------*/
.noBorder td {
    border: none; 
    padding: 12px;
    
    
}
/* Set padding for the first column */
.table-head th:first-of-type,
.noBorder td:first-of-type,
.noBorderPage td:first-of-type,
.table-headPage th:first-of-type {
    padding-left: 32px;
}

/* Set width for the first column of .noBorderPage */
.noBorderPage td:first-of-type {
    width: 25%;
}

/* Set width and padding for the third column */
.noBorderPage td:nth-of-type(3),
.table-headPage th:nth-of-type(3) {
    padding-left: 32px;
    width: 25%;
}

.border-left{
    border-right: 1px solid #092C4C;
}
.modal-dialog {
    max-width: 500px;
    min-width: 300px; /* Optional: set a minimum width */
}
  
  