/*FAQs Section*/

.accordion-button:not(.collapsed) {
    background-color: #ffffff;
    border: solid 1px #092c4c;
}

.custom-width-p {
    width: 60%;
    display: flex;
    margin: 0;
    font-size: 14px;
}

.container-btn:hover,
.container-btn:active {
    background-color: rgba(190, 190, 190, 0.5);
    color: #ffffff;
}

.container-btn.active {
    background-color: rgba(190, 190, 190, 0.5);
    color: white;
}

/*FAQs Section Admin*/

.accordion-button:not(.collapsed) {
    background-color: #ffffff;
}

.custom-width-p {
    width: 60%;
    display: flex;
    margin: 0;
    font-size: 14px;
}

.container-btn:hover,
.container-btn:active {
    background-color: rgba(190, 190, 190, 0.5);
    color: #ffffff;
}

.container-btn.active {
    background-color: rgba(190, 190, 190, 0.5);
    color: white;
}

.icon-container {
    width: 10%;
    margin-left: 20px;
    border: none;
}
.new {
    width: 130px;
    border-radius: 6px;
    border: solid 1px #092c4c;
}

.delete {
    width: 130px;
}

/*Chat Section*/

.main-content {
    height: calc(100vh - 80px);
}

.content-chatbox-chat {
    flex-grow: 1;
    display: flex;
}
.content header h1 {
    font-size: 24px;
    font-weight: bold;
}
.container-chatbox {
    width: 23%;
    display: flex;
    align-items: center;
    border-right: 1px solid #ccc;
    flex-direction: column;
}
.container-chatbox input {
    width: 90%;
    margin-bottom: 20px;
}
.container-btn {
    display: flex;
    width: 90%;
    height: 48px;
    margin-bottom: 0.5rem;
    font-weight: bold;
    font-size: 12px;
}
.container-chat {
    width: 77%;
}

@media screen and (max-width: 768px) and (min-width: 426px) {
    .hide-on-mobile {
        display: none !important;
    }
}

@media screen and (max-width: 425px) {
    .hide-on-mobile {
        display: flex;
    }
    .sidenav {
        display: none;
    }
    .container-chat {
        display: none;
        width: 100%;
    }
    .container-chatbox {
        width: 100% !important;
        padding: 0;
    }

    .chat-input {
        width: 100%;
    }

    .container-chatbox.hidden {
        display: none;
    }

    .container-chat.active {
        display: block;
        width: 100%;
    }
    .col-md-7 {
        margin-top: 25px;
    }
    .faq-section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        margin: 0px 25px 0px 25px;
    }
    .faq-header {
        margin: 0px 25px 0px 25px;
        width: 100%;
    }
}
/* Smooth transition for height changes */
.accordion-collapse {
    transition: height 0.3s ease;
    overflow: hidden;
    height: 0;
}

.accordion-collapse.show {
    height: auto;
}