@media screen and (max-width: 768px) {
    .navbar-nav.al {
        margin: 0;  
        
    }
    .d-flex.ms-auto {
        position: absolute;
        top: 12px; 
        right: 10px; 
    }

    .logo-img {
        margin-left: 15px;
    }

    .navbar-nav.ac {
        display: flex; 
        flex-direction: row; 
        justify-content: center; 
        align-items: center; 
        padding: 0; 
        margin: 0 auto; 
        
    }
    .sidenav {
        display: none;
    }

    .container-chatbox {
        width: 40% !important; 
        padding: 0; 
    }
    .main-content {
        margin-top: 0 !important;
        height: calc(100vh - 25px) !important;
    }
    .navbar-container {
       
        left: 0 !important; 
        width: 100% !important;
    } 
    .col-md-7 {
        margin-top: 25px;
    }
    .customer-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
      
    }
     
}
@media screen and (max-width: 960px) {

    .container-chatbox {
        width: 30% !important; 
        padding: 0; 
    }
}

@media screen and (max-width: 420px) {
    .navbar-nav.al {
        margin: 0;       
    }

    .d-flex.ms-auto {
        position: absolute;
        top: 12px; 
        right: 10px; 
    }

    .logo-img {
        margin-left: 15px;
    }

    .navbar-nav.ac {
        display: flex; 
        flex-direction: row; 
        justify-content: center; 
        align-items: center; 
        padding: 0; 
        margin: 0 auto; 
    }

    .container-chat {
        display: none;
        width: 100%;
    }
    .container-chatbox {
        width: 100% !important; 
        padding: 0; 
    }

    .chat-input {
        width: 100%; 
    }

    .container-btn {
        width: 100%; 
    }
    .container-chatbox.hidden {
        display: none;
    }

    .container-chat.active {
        display: block;
        width: 100%;
    }
    .col-md-7 {
        margin-top: 25px;
    }
   
}


@media (max-width: 768px) {
    .navbar .order-1 {
        order: 1;
    }
    .navbar .order-2 {
        order: 3;
    }
    .navbar .order-3 {
        order: 2;
    }

    
}


.logo-img{
    height: 31px;
    width: 110px;
}

.navbar-toggler:focus, .navbar-toggler:active {
    outline: none;
    box-shadow: none;
}


@media only screen and (min-width: 768px) {
    .navbar {
     height: 80px !important; 
     
   } 
}

@media (max-width: 768px) {
    .icons img {
        width: 16px;
        height: 16px;
    }
}

/*FAQs Section*/

.custom-width-p {
    width: 60%;
    display: flex; 
    margin: 0;
    font-size: 14px;
}

