/* this custom code is for navbar */
@media screen and (max-width: 768px) {
    .navbar-nav.al {
        margin: 0;
       
    }
    .d-flex.ms-auto {
        position: absolute;
        top: 12px; 
        right: 10px; 
    }

    .logo-img {
        margin-left: 15px;
    }
    .navbar-nav.ac {
        display: flex; 
        flex-direction: row; 
        justify-content: center; 
        align-items: center; 
        padding: 0; 
        margin: 0 auto; 
    }
    
}
@media (max-width: 768px) {
    .navbar .order-1 {
        order: 1;
    }
    .navbar .order-2 {
        order: 3;
    }
    .navbar .order-3 {
        order: 2;
    }
}

.logo-img{
    height: 31px;
    width: 110px;
}

.navbar-toggler:focus, .navbar-toggler:active {
    outline: none;
    box-shadow: none;
}


@media only screen and (min-width: 768px) {
    .navbar {
     height: 80px !important; 
   } 
}

@media (max-width: 768px) {
    .icons img {
        width: 16px;
        height: 16px;
    }
}

.nav-link:hover,
.nav-link.active{
    color: #E2B93B!important;
}

/* ends here */
.sidenav-link {
    padding: 12px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 16px;
}

.sidenav-link:hover, 
.sidenav-link:active,
.sidenav-link.active {
    background-color: #E2B93B;
    color: white;
    font-weight: 700;
    border-radius: 4px;
}

.sidenav-link:hover img, 
.sidenav-link:active img, 
.sidenav-link.active img{
    filter: brightness(0) invert(1); /* Turns the image to white */
}


