/* The switch - the container */
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 18px;
}

/* Hide the default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 16px;
}

/* The circle inside the slider */
.slider:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 11px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

/* Checked state of the slider */
input:checked + .slider {
    background-color: #092C4C;
}

/* Move the circle to the right when checked */
input:checked + .slider:before {
    transform: translateX(11px);
}

.dropdown-item {
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
}

.dropdown-item:hover {
    background-color: #0d6efd; /* Bootstrap primary color */
    color: white; /* Change text color to white */
}